* {  /*reset all*/
    margin: 0;
    padding: 0;
}

/*LOG IN PAGE START*/
.login_bg{
    height: 100%;
    width: 100%;
    background-image: url(Image/websitebg.png);
    background-position: center;
    background-size: cover; /*always cover the entire screen*/
    position: absolute;
}
/*input[type="text"]::placeholder{
    align-items: center;
}*/
.container{
    position: absolute;
    max-width: 500px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left{ /*for login*/
    position: relative;
    background: #EE6A3D;
    border-radius: 25px;
    padding: 25px;
    padding-left: 160px;
}

.left h1{
    color: #FFEABA;
    font-weight: 700;
    position: relative;
    right: 15px;
    bottom: 30px;
}

.left .myInput{
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    right: 95px;
    bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.myForm{
    position: relative;
    margin: 65px;
}
.left .btn{
    background-color: #E89897;
    width: 250px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    right: 95px;
    bottom: 30px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
/*LOG IN PAGE END*/



/*HOMEPAGE START (categories.html)*/
.homepage-body, .level-body{
    background-color: #FFEABA;
}

.navbar{
    background-color: #FFC98B;
    margin-bottom: 50px;
}

#btn-container{
    text-align: center;
}

#JPNquizbtn{   /*Japan quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Japan.jpg);
}
#JPNquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#CTNquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Cartoon.jpg);
}
#CTNquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#ENGquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/English.png);
}
#ENGquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#ANMquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Animals.png);
}
#ANMquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}
/*HOMEPAGE END (categories.html)*/


/*QUIZ INFO PAGE START*/
.info_body{
    background-color: #FFEABA;
    font-family: 'Yusei Magic', sans-serif;
}

.info_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 20px 20px 20px 20px;  
    background-color: #F5CEC7;
    border-radius: 20px;
}

.info_container .intro_title, .rules_title{
      height: 40px;
      border-bottom: 2px solid #e4817f;
  }

.info_container .intro_lists, .rules_lists{
    padding: 10px 35px;
    font-size: 18px;
    margin-bottom: 10px;
}

.info_container .quiz_btn{
    display: flex;
    justify-content: flex-end;
}

.info_container .quiz_btn button{
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    border: 1px solid #e4817f;
    background: #ffaea0;
    cursor: pointer; /*display mouse cursor as a pointer*/
    outline: none;
    border-radius: 10px;
}

.info_container .quiz_btn button:hover{
    color: white;
    background: #e4817f;
}
/*QUIZ INFO PAGE END*/




/*QUIZ PAGE START*/
.quiz_body{
    background-color: #FFEABA;
}

.quiz_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    background-color: #ffaea0;
    border-radius: 10px;
}

.quiz_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffaea0;
    height: 70px;
    padding: 0 30px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 5px 1px #e4817f;
}

.qns_no{
    font-size: 25px;
    font-weight: 600;
}

.timer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 45px;
    background: #FFEABA;
    padding: 0 8px;
    border-radius: 10px;
}

#countdown{
    font-weight: 600;
    background: #FFC98B;
    height: 25px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.qns_container{
    padding: 20px 20px 20px 20px;
}

.qns_container .qns{
    font-size: 30px;
    font-family: 'Yusei Magic', sans-serif;
    margin-bottom: 10px;
}

.opt_container{
    display: block;
    margin-bottom: 20px;
}

.opt_container .option{
    background: #FFEABA;
    border: 2px solid #FFC98B;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.opt_container .option:hover{
    color: rgb(35, 0, 161);
    background: #fabeb4;
}

.nxt_btn{
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 30px 0;
}

.nxt_btn .nxt_qns_btn{
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
    background: #fabeb4;
    border: 2px solid #E89897;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nxt_btn .nxt_qns_btn:hover{
    color: white;
    background: #e4817f;
}

.result_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    background-color: #ffaea0;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 100px;
    color: rgb(6, 8, 163);
}
/*QUIZ PAGE END*/

/*PROFILE PAGE START*/
.profile_bg{
    height: 100%;
    width: 100%;
    background-color: #F5CEC7;
}
.background1{
    width: 80%;
    height: 200px;
    background-color: #FFEABA;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto 40px auto;
  }
#Rewards{
    font-size: 60px;
    color: #EE6A3D;
    margin: 20px;
    text-decoration: underline #e4817f;
}
#Achieve{
    font-size: 60px;
    color: #EE6A3D;
    margin: 20px;
    text-decoration: underline #e4817f;
}
img{
    height: 100px;
    width: 200px;
}
p{
    color: black;
    font-size: 40px;
}
#name{
    font-size: 80px;
    color: #E89897;
    margin: 20px;
    text-decoration: underline #a54645;
}
#points{
    font-size: 50px;
    color: #EE6A3D;
    margin: 100px;
}
.card-text-name{
    color: #E89897;
    margin: 10px;
}
/*PROFILE PAGE END*/