* {  /*reset all*/
    margin: 0;
    padding: 0;
}

/*LOG IN PAGE START*/
.bgimg {  /*website login page background*/
    height: 100%;
    width: 100%;
    background-image: url(websitebg.png);
    background-position: center;
    background-size: cover; /*always cover the entire screen*/
    position: absolute;
}

.formbox{   /*login form box background*/
    width: 380px;
    height: 480px;
    background: #FFC98B;
    position: relative;
    margin: 8% auto;
    padding: 5px;
    border-radius: 20px;
}

.imgbox{   /*BuzzStudy icon img box*/
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon{  /*BuzzStudy icon img*/
    width: 200px;
    height:100px;
}

.form-control{
    border-color: #F5CEC7;
}

/*LOG IN PAGE END*/



/*HOMEPAGE START*/
.homepage-body{
    background-color: #FFEABA;
}

.navbar{
    background-color: #FFC98B;
}

