* {  /*reset all*/
    margin: 0;
    padding: 0;
}

/*LOG IN PAGE START*/
.bgimg {  /*website login page background*/
    height: 100%;
    width: 100%;
    background-image: url(Image/websitebg.png);
    background-position: center;
    background-size: cover; /*always cover the entire screen*/
    position: absolute;
}

.form-container{   /*login form box background*/
    width: 380px;
    height: 500px;
    background: #FFC98B;
    position: relative;
    margin: 8% auto;
    padding: 5px;
    border-radius: 20px;
}

.img-container{   /*BuzzStudy icon img box*/
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon{  /*BuzzStudy icon img*/
    width: 200px;
    height:100px;
}

.btn-container{
    background-color: #E89897;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
}

.togglebtn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent; /*remove btn default bg*/
    border: 0;
    outline: none;
    position: relative;
}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #F5CEC7;
    border-radius: 30px;
    transition: .5s;
}

.form-control{
    border-color: #F5CEC7;
}
/*LOG IN PAGE END*/



/*HOMEPAGE START (categories.html)*/
.homepage-body, .level-body{
    background-color: #FFEABA;
}

.navbar{
    background-color: #FFC98B;
    margin-bottom: 50px;
}

#btn-container{
    text-align: center;
}

#JPNquizbtn{   /*Japan quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Japan.jpg);
}
#JPNquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#CTNquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Cartoon.jpg);
}
#CTNquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#ENGquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/English.png);
}
#ENGquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}

#ANMquizbtn{   /*Cartoon quiz categories button*/
    width: 300px;
    height: 300px;
    background: transparent;
    margin-right: 50px;
    background-image: url(Image/Animals.png);
}
#ANMquizbtn:hover{
    border-radius: 30%;   /*button on-click change radius*/
}
/*HOMEPAGE END (categories.html)*/



/*LEVEL PAGE START*/
/*LEVEL PAGE END*/



/*QUIZ PAGE START*/
.info_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 540px;
    background-color: #F5CEC7;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  
  ol li {
    counter-increment: my-awesome-counter;
  }
  
  ol li::before {
    content: counter(my-awesome-counter) ". ";
  }


  .info_container .intro_title{
      height: 60px;
      border-bottom: 1px solid magenta;
  }
/*QUIZ PAGE END*/